.header__logo {
    margin: 45px 0 41px;
    width: 142px;
    height: 33px;
}
@media all and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}
@media all and (max-width: 742px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin-top: 28px;
        margin-bottom: 31px;
    }
}