.profile__subtitle {
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
    max-width: 282px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (max-width: 682px) {

    .profile__subtitle {
        font-size: 14px;
    }
}