.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media all and (max-width: 742px) {

    .profile {
        flex-direction: column;
        justify-content: center;
        margin: 38px 0 36px;
    }
}