.popup-avatar__input-text {
    border: none;
    border-bottom: 1px solid #CCC;
    color: #000000;
    margin: 0 0 30px;
    margin-bottom: 0;
    padding: 0px 0 13px;
    width: 95%;
    outline: none;
    font-size: 14px;
    line-height: 1.2;
    box-sizing: border-box;
}