
.profile__hover-edit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.profile__hover-edit:hover {
    background-image: url("../../../images/penavatar.svg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    background-color: rgba(0, 0, 0, 0.522);
}