.popup-creat__close {
    background-color: initial;
    border: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 0;
    top: -41px;
    right: -37px;
    cursor: pointer;
    background-image: url('../../../images/CloseIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity ease-in-out 0.4s;
}

.popup-creat__close:hover {

    opacity: 0.8;
}

@media all and (max-width: 682px) {
    .popup-creat__close {
        top: -45px;
        right: 10px;
        width: 26px;
        height: 26px;
    }
}