.pictures {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 20px 17px;
}

@media all and (max-width: 900px) {

    .pictures {
        grid-template-columns: repeat(2, 282px);
    }
}

@media all and (max-width: 600px) {

    .pictures {
        grid-template-columns: repeat(1, 282px);
    }

}