@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

@import url("./blocks/body/body.css");

/* start page */
@import url("./blocks/page/page.css");
@import url("./blocks/page/__header/page__header.css");
@import url("./blocks/page/__footer/page__footer.css");
/* end page */

/* start content */
@import url("./blocks/content/content.css");
@import url("./blocks/content/__section/content__section.css");
/* end content */

/* start header */
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
/* end header */

/* start profile */
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__avatar-info/profile__avatar-info.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__button-add/profile__button-add.css");
@import url("./blocks/profile/__button-edit/profile__button-edit.css");
@import url("./blocks/profile/__container-info/profile__container-info.css");
@import url("./blocks/profile/__avatar-container/profile__avatar-container.css");
@import url("./blocks/profile/__hover-edit/profile__hover-edit.css");

/* end profile */

/* start pictures */
@import url("./blocks/pictures/pictures.css");
/* end pictures */

/* start cards */
@import url("./blocks/cards/cards.css");
@import url("./blocks/cards/__title/cards__title.css");
@import url("./blocks/cards/__image/cards__image.css");
@import url("./blocks/cards/__heart/cards__heart.css");
@import url("./blocks/cards/__info/cards__info.css");
@import url("./blocks/cards/__bin/cards__bin.css");
@import url("./blocks/cards/__likes-container/cards__likes-container.css");
@import url("./blocks/cards/__likes/cards__likes.css");
/* end cards */

/* start footer */
@import url("./blocks/footer/__copyright/footer__copyright.css");
/* end footer */

/* start popup */
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__input-text/popup__input-text.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__opened/popup__opened.css");
@import url("./blocks/popup/__input-error/popup__input-error.css");
@import url("./blocks/popup/__input-error/_visible/popup__error_visible.css");
@import url("./blocks/popup/__button_disabled/popup__button_disabled.css");
/* end popup */
/* start popup-creat */
@import url("./blocks/popup-creat/popup-creat.css");
@import url("./blocks/popup-creat/__title/popup-creat__title.css");
@import url("./blocks/popup-creat/__input-text/popup-creat__input-text.css");
@import url("./blocks/popup-creat/__form/popup-creat__form.css");
@import url("./blocks/popup-creat/__container/popup-creat__container.css");
@import url("./blocks/popup-creat/__close/popup-creat__close.css");
@import url("./blocks/popup-creat/__button/popup-creat__button.css");
/* end popup-creat */

/* start popup-img */
@import url("./blocks/popup-img/popup-img.css");
@import url("./blocks/popup-img/__container/popup-img__container.css");
@import url("./blocks/popup-img/__image/popup-img__image.css");
@import url("./blocks/popup-img/__subtitle/popup-img__subtitle.css");
@import url("./blocks/popup-img/__close/popup-img__close.css");
/* end popup-img */

/* start popup-avatar */
@import url("./blocks/popup-avatar/__button/popup-avatar__button.css");
@import url("./blocks/popup-avatar/__close/popup-avatar__close.css");
@import url("./blocks/popup-avatar/__container/popup-avatar__container.css");
@import url("./blocks/popup-avatar/__form/popup-avatar__form.css");
@import url("./blocks/popup-avatar/__input-text/popup-avatar__input-text.css");
@import url("./blocks/popup-avatar/__title/popup-avatar__title.css");
/* end popup-avatar */

/* start popup remove */
@import url("./blocks/popup-remove/__title/popup-remove__title.css");
@import url("./blocks/popup-remove/__form/popup-remove__form.css");
@import url("./blocks/popup-remove/__container/popup-remove__container.css");
@import url("./blocks/popup-remove/__button/popup-remove__button.css");
